#
# Copyright 2025-2026 Scott Gigawatt
#
# Licensed under the Apache License, Version 2.0.
#
# .gitignore: Local credentials, generated application state, and host metadata.
#

.DS_Store
.env
.secrets/

backups/
cache/
exports/
logs/
newsletters/
temp/

*.db*
*.lock
UUID
config.ini

config/notifiarr/notifiarr.conf
config/pattrmm/data/*
!**/README.md
