#
# Copyright 2025-2026 Scott Gigawatt
#
# Licensed under the Apache License, Version 2.0.
#
# .gitmodules: Third-party repository pointers used by Duplex.
#

[submodule "config/kometa"]
	path = config/kometa
	url = git@github.com:scottgigawatt/kometa-config.git
