---
#
# docker-compose.yml: Docker Compose configuration for a "Run Once" Watchtower instance.
#
# Tools Included:
#   - Watchtower: Automates Docker container base image updates.
#
# For more information about Watchtower, visit: https://github.com/containrrr/watchtower
#

#
# Docker Compose version on the target system
#
version: "2.9"

#
# Setup default properties for all or most containers
#
x-default-container: &default-container # YAML anchor for default container
  pull_policy: always                   # Ensure that the image is always pulled
  restart: unless-stopped               # Restart the container unless explicitly stopped
  logging:                              # Configure container logging options
    driver: "json-file"                 # Use JSON file logging driver
    options:
      max-size: ${LOG_MAX_SIZE}         # Maximum file size for logs files
      max-file: ${LOG_MAX_FILE}         # Maximum number of log files to retain

#
# Setup default variables for all or most containers
#
x-default-environment: &default-environment # YAML anchor for default environment
    TZ: ${TZ}                               # Set the appropriate timezone

#
# Define the services section
#
services:
  #
  # Define the 'watchtower-run' service
  #
  watchtower-run:
    # Docker image and container information
    <<: *default-container                            # Pull in the default container information
    image: containrrr/watchtower:${WATCHTOWER_TAG}    # Run using the specified tag
    container_name: watchtower-run-${WATCHTOWER_TAG} # Append Docker image tag to container name
    hostname: watchtower                              # Set the container hostname

    # Define the container environment
    environment:
      <<: *default-environment                                    # Pull in the default environment
      WATCHTOWER_CLEANUP: ${WATCHTOWER_CLEANUP}                   # Clean old images afer updates
      WATCHTOWER_INCLUDE_STOPPED: ${WATCHTOWER_INCLUDE_STOPPED}   # Update stopped containers as well
      WATCHTOWER_REVIVE_STOPPED: ${WATCHTOWER_REVIVE_STOPPED}     # Start stopped containers after update
      WATCHTOWER_NOTIFICATIONS: ${WATCHTOWER_NOTIFICATIONS}       # Send notifications for updates
      WATCHTOWER_NOTIFICATION_URL: ${WATCHTOWER_NOTIFICATION_URL} # URL for webhook notifications
      WATCHTOWER_RUN_ONCE: ${WATCHTOWER_RUN_ONCE}                 # Option to run once and quit

    # Mount host directories into the container
    volumes:
      - /var/run/docker.sock:/var/run/docker.sock:rw # Allow container to talk to host Docker API
      - /etc/localtime:/etc/localtime:ro             # Setup container with the proper timezone

#
# Define the networks section
#
networks:
  # Configure the default network
  default:
    name: ${COMPOSE_PROJECT_NAME} # Use the name of the compose project
    ipam:                         # IP Address Management
      driver: default             # Use the default driver
      config:
        - subnet: ${COMPOSE_NETWORK_SUBNET}     # Subnet in CIDR format that represents a network segment
          ip_range: ${COMPOSE_NETWORK_IP_RANGE} # Range of IPs from which to allocate container IPs
          gateway: ${COMPOSE_NETWORK_GATEWAY}   # Gateway for the master subnet
